server:
  port: 8080
spring:
  application:
    name: ecommerce-Service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  datasource:
    url: jdbc:mysql://localhost:3306/ci_cd_product_db
    username: root
    password: Chanducra0@
